.about-me-container {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    width: 90%;
    margin-bottom: 50px;
    margin: auto;
}

.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

}

.about-me img {
    height: 70px;
    transition: all .25s ease-in
}

.about-me img:not(#links img):hover {
    /* position: absolute; */
    height: 90px;
    /* box-shadow: 0px 2px 2px 0px rgb(36 42 48 / 15%); */
}

.about-me-title {
    text-transform: capitalize;
    width: 90%;
    margin: 70px auto;
    padding-left: 50px;
    color: var(--main-blue);

}
.about-the-website {
    margin-top: 50px;
    text-transform: none;
    color: var(--dark-blue);
    line-height: 160%;
    font-size: 20px;
}
