.about-me-container {
    display: flex;
    flex-flow: row;
    width: 90%;
    justify-content: center;
}

.about-me-container .users {
  min-width: 200px;
  max-width: 200px;
}

.about-me {
    display: flex;
    flex-direction: row;
}

.about-me-title {
    text-transform: capitalize;
    width: 90%;
    margin: 70px auto;
    color: var(--main-blue);

}
.about-the-website {
    margin-top: 50px;
    text-transform: none;
    color: var(--dark-blue);
    line-height: 160%;
    font-size: 20px;
}

@media screen and (min-width: 689px) and (max-width: 1250px) {
  .about-me-container {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 688px) {
  .about-me-container {
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-the-website {
    font-size: 18px;
  }
}
