.task-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  height: 400px;
  width: 380px;
}

.fa-circle-radiation {
  font-size: 35px;
}


.extremely-dangerous-task {
  text-shadow:
      0 0 7px #fff,
      0 0 15px red,
      0 0 151px red;
}

.title-danger-level-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  height: 30px
}

#profile-card-h3 {
  margin-top: 40px;
}

.profile-card {
  margin-left: 10px;
}

#task-deets {
  margin-right: 50%;
}

.profile-task-card-container {
  width: 100%;
}
.prof-taskcard-div {
  width: 100%;
}
.profile-task-card-link {
  width: 100%;
}

.prof-card {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.profile-task-card-link .card {
  width: 80%;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

