#profile-page {
  width: 100%;
  height: 100%;
}

#profile-container {
  width: 80%;
  max-height: 900px;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background: #0067B1;
  background: linear-gradient(200deg, var(--main-blue) 0%, var(--dark-blue) 100%);
}

#profile-h1 {
  grid-column: 1 / 4;
  font-family: 'Overseer', sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin: 0;
  margin-left: 30px;
  margin-top: 30px;
  color: #ffffff;
  letter-spacing: 1px;
}

#profile-avg-rating-h2 {
  grid-column: 4 / 5;
  font-family: 'Overseer', sans-serif;
  font-size: 34px;
  text-align: right;
  margin: auto;
  margin-right: 30px;
  color: yellow;
  letter-spacing: 2px;
}

#p-btns-div {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  margin: auto;

}

#profile-welcome {
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.btns-div {

  box-sizing: border-box;
  width: 200px;
  height: 450px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: auto;
  box-shadow: 0px 30px 70px -0px rgb(46, 49, 66);
}

.view-profile-btn {
  width: 300px;
  display: block;
  margin: 5px 10px;
  transition: all .5s ease;
  color: #063f67;
  border: 1px solid #063f67;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: none;
  border-radius: 30px;
}

.profile-btns {
  display: block;
  margin: 5px 10px;
  transition: all .5s ease;
  color: #063f67;
  ;
  border: 1px solid #063f67;
  ;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: none;
  border-radius: 30px;
}

.profile-btns:hover {
  background-color: #0067b1;
  color: #ffffff;
}


#show-profile {
  grid-column: 2 / 5;
  grid-row: 2 / 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  width: 90%;
  height: 95%;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 0px 30px 70px -0px rgb(46, 49, 66);
}

#profile-account {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 90%;
  height: 90%;
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

#name-img-div {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
}

#profile-pic {
  width: 150px;
  border-radius: 50%;
}

#profile-name {
  font-size: 36px;
  font-weight: bold;
}

#email-user-div {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
}

#profile-bio {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  line-height: 150%;
  margin-right: 25%;
}

#location-edit-div {
  grid-column: 1 / 5;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#profile-located {
  font-size: 30px;
  font-weight: bold;
}

#profile-edit-btn {
  transition: all .5s ease;
  color: #063f67;
  border: 1px solid #063f67;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 0px 26px;
  border-radius: 30px;
  height: 40px;
  margin-top: 15%;
  float: right;
}

#profile-edit-btn:hover {
  background-color: rgb(0, 103, 177);
  color: #ffffff;
}

.profile-p {
  font-size: 20px;
  line-height: 120%;
  color: #063f67;
}

#profile-tasks {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#show-tasks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#profile-add-task {
  transition: all .5s ease;
  color: #063f67;
  ;
  border: 1px solid #063f67;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  border-radius: 30px;
  height: 20px;
  width: 20px;
}

#profile-add-task:hover {
  background-color: #0067b1;
  color: #ffffff;
}

#available-task-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}

#pending-task-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}

/* profile-current-missions { */
#completed-task-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}

.title-profile {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-profile-headers {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.show-h2 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: thin solid black;
  padding-bottom: 8px;
  color: #063f67;
}

#task-btns-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.task-btns {
  margin: 5px 10px;
  transition: all .5s ease;
  color: #063f67;
  ;
  border: 1px solid #063f67;
  ;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px 16px;
  outline: none;
  border-radius: 30px;
  height: 40px;
}

.task-btns:hover {
  background-color: #0067b1;
  color: #ffffff;
}

.job-btns {
  margin: 5px 10px;
  transition: all .5s ease;
  color: #063f67;
  ;
  border: 1px solid #063f67;
  ;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px 16px;
  outline: none;
  border-radius: 30px;
  height: 40px;
}

.job-btns:hover {
  background-color: #0067b1;
  color: #ffffff;
}

#profile-jobs {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#show-jobs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

#jobs-btns-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#current-job-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 450px;
  overflow-y: scroll;
}

#completed-job-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 450px;
  overflow-y: scroll;
  width: 100%;
}

#profile-reputation {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.task-scroll-divs {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.prof-active {
  background-color: #0067b1;
  color: #ffffff;
}

.prof-active:hover {
  background-color: #1776bad8;
}

.information-div {
  background-color: white;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  padding: 0;
  border-radius: 20px;
}

.information-p {
  margin: 0;
  padding: 16px;
  font-size: 14px;
  line-height: 1.2;
  color: #063f67;
}
