#user-name {
  background-color: #1c381b;
  color: #14f217;
}

.user-profile-tasks {
  display: flex;
  flex-direction: column;
  background-color: #1c381b;
  color: #14f217;
  border: 2px solid #14f217;
  border-radius: 15px;
  margin: 15px 0;
  width: 90%;
  height: 90%;
  padding: 10px;
}

#details-button {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  margin-left: 10px;
  cursor: pointer;
}

#details-button button {
  background-color: #14f217;
  color: #1c381b;
}

#details-button button:hover {
  background-color: #14f217;
  color: #1c381b;
}

#user-task-button button {
  background-color: #14f217;
  color: #1c381b;
  margin-left: 10px;
  padding: 5px;
  border-radius: 15px;
}

#profile-task-modal button {
  background-color: #14f217;
  color: #1c381b;
}

#users-image {
  width: 150px;
}

#users-p-tag {
  width: 80%;
}
