@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap');

/* .tasks-container {
    border: 2px solid black;
} */

.header-img {
    width: 100vw;
    height: 420px;
    overflow: hidden;
    background-color: #0067b1;
    position: relative;
    width: 100%;
    min-height: 420px;
}

/* .header-img img {
    position: relative;
    top: -75px;
    width: 100%;
    min-height: 420px;
} */

.header-info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transform: translate(-50%, 0);
    top: -150px;
    left: 50%;
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

.line-break {
    background-color: black;
    height: 1px;
    width: 350px;
}

.header-info-card h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}

.header-info-card p {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 10px;
    text-align: center;
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.header-wrapper {
    height: 600px;
}

.available-tasks-header {
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 25px;
}
