/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap'); */

body {
    background-color: #f9fafb;
}

.header-img {
    width: 100vw;
    height: 420px;
    overflow: hidden;
    /* background-color: #0067b1; */
    position: relative;
    width: 100%;
    min-height: 420px;
    filter: brightness(.9)
}

.header-img img {
    position: relative;
    /* top: -75px; */
    width: 100%;
    min-height: 420px;
}

.header-info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 0);
    top: -350px;
    left: 50%;
    padding-left: 40px;
    /* width: 500px; */
    height: 420px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 8px rgb(4 46 41 / 14%), 0px 0px 4px rgb(7 7 7 / 10%);;
    font-weight: 800;
    /* background-color: white;
    border: 1px solid black; */
}

.line-break {
    background-color: white;
    height: 5px;
    width: 100%;
    margin-top: -35px;
}

#all-tasks-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.header-info-card h1 {
    font-size: 50px;
    font-weight: 800;
    padding-right: 10px;
}

.header-info-card p {
    font-size: 32px;
    text-align: center;
}

.header-wrapper {
    height: 600px;
}

.available-tasks-header {
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: px;
}
