body {
    background-color: #faf8f8;
    /* background-color: #373d9c; */
}

.header-img {
    width: 100vw;
    height: 420px;
    overflow: hidden;
    z-index: -1;
    /* background-color: #0067b1; */
    position: relative;
    width: 100%;
    min-height: 420px;
    filter: brightness(.9)
}

.header-img img {
    position: relative;
    width: 100%;
    min-height: 420px;
    z-index: -1;
}

.header-info-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 0);
    top: -350px;
    left: 50%;
    height: 420px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 8px rgb(4 46 41 / 14%), 0px 0px 4px rgb(7 7 7 / 10%);;
    font-weight: 800;
}

.line-break {
    background-color: white;
    box-shadow: 0px 0px 8px rgb(4 46 41 / 14%), 0px 0px 4px rgb(7 7 7 / 10%);;
    height: 5px;
    width: 100%;
    margin-top: -35px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    z-index: 1;
}

.header-info-card h1 {
    font-size: 50px;
    font-weight: 800;
}

.header-info-card p {
    font-size: 32px;
    text-align: center;
}

.header-wrapper {
    height: 400px;
}

.sub-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #022022;
    font-weight: 600;
}

.tasks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    /* background-color: white; */
}


.tasks-container {
    display: grid;
    /* margin-top: 20px; */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 50px;
}

.text-bar {
    /* width: fit-content; */
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    background-color:  #eeeeee;
    letter-spacing: .10em;
    margin-bottom: 50px;
    margin-top: 20px;
    /* border: 2px solid var(--dark-blue) */
    /* padding-top: 20px; */
    /* font-family: 'Roboto', sans-serif; */
    /* background-color: white; */
}

.sub-text {
    color: #063f67;
    font-weight: 200;
    /* text-transform: uppercase; */
    /* margin-top: -10px; */
}
