@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


#login-form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%
}

#login-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 100px;
}

#login-buttons-div {
  display: flex;

}

.login-buttons button {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  height: 50px;
  margin-right: 10px;
}

#login-form-btn {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 150px;
  height: 50px;
  margin-right: 10px;
}

.login-form-inputs {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
}

#handle-signup-btn button {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 330px;
  height: 50px;
  margin: 20px;
}

#password-text {
  margin-left: 15px;
}
