:root {
    --grayishBlue: hsl(229, 6%, 66%);
    --5: #da0000;
    --4: orangered;
    --3: #ff9100;
    --2: #ffee43 ;
    --1: #0067b1;
    --dark-blue: rgba(6,63,103,1);
    --main-blue: rgba(0,103,177,1);
}

.home-banner {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    background: var(--main-blue);
    background: linear-gradient(270deg, var(--main-blue) 0%, var(--dark-blue) 100%);
    color: white;
}
.text {
    display: flex;
    text-align: center;
    align-items: center;
}

.banner-img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff773;
}
.banner-img img {
    width: 50%;
}
.partnered-banner {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
    background-color: #eeeeee;
    font-size: 24px;
}

.why-list ul{
    text-align: left;
    justify-content: start;
    list-style:none;
}

.title {
    /* padding: 10px; */
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--dark-blue);
    width: 90%;
    border-bottom: 2px solid rgb(233, 233, 233);

}
.card-container {
    display: grid;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

.card {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    color: var(--dark-blue);
    height: 275px;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    overflow: hidden;
}

.card h3 {
    margin: 12px;
}

.home-page-title {
    text-transform: capitalize;
    width: 75%;
    margin: 0 auto;
    padding-left: 50px;
    color: var(--main-blue);
}

.home-page-buttons {
    display: flex;
    flex-direction: row;
}

.home-page-buttons button,
.home-page-buttons a{
    margin: 20px 5px 20px;
    transition: all .5s ease;
    color: var(--main-blue);
    border:1px solid var(--main-blue);
    text-align: center;
    line-height: 1;
    font-size: 14px;
    background-color : transparent;
    padding: 4px;
    outline: none;
    border-radius: 15px;
}


.home-page-buttons button:hover,
.home-page-buttons a:hover{
    color: #f9fbfb;
    background-color: var(--main-blue);
}

.date {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 10px;
}

.content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* padding: 10px; */
}
.bullet {
    text-transform: capitalize;
}
.task-content {
    padding-top: 5px;
}

.danger-1, .users {
    border-top: 3px solid var(--1);
}
.danger-2 {
    border-top: 3px solid var(--2);
}
.danger-3 {
    border-top: 3px solid var(--3);
}
.danger-4 {
    border-top: 3px solid var(--4);
}
.danger-5 {
    border-top: 3px solid var(--5);
}

.dan-1{
    border: none;
    color: var(--1)
}
.dan-2{
    border: none;
    color: var(--2)
}
.dan-3{
    border: none;
    color: var(--3)
}
.dan-4{
    border: none;
    color: var(--4)
}
.dan-5{
    border: none;
    color: var(--5)
}

/* Tags */
.tags-container {
   display: flex;
  /* flex-direction: row; */
  overflow: hidden; 
  display: -webkit-box;
  align-items: center;
  -webkit-line-clamp: 3;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  overflow-wrap: break-word;
}

/* USER CSS */
.user-card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--main-blue);
    height: 30%;
    color: white;
}

.user-card-wrapper {
    background-color: rgb(224, 224, 224);
    margin: 20px;
    width: 250px;
    height: 300px;
}

.user-card-img {
    width: 100px;
    border-radius: 5px;
}
.user-card-wrapper  a {
    color: white;
    text-decoration: none;
}

.bio {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom: 5%;
    width: 100%;
}

.user-id {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    border-bottom: 2px solid rgb(233, 233, 233);
}

.partnered-banner p{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid  var(--dark-blue) ; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  color: #063f67;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* Body Banner */
.body-banner {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    padding: 0;
    width: 100%;
    height: 300px;
    /* background: var(--dark-blue);
    background: linear-gradient(270deg, var(--dark-blue) 0%, var(--main-blue)100%); */
    background-color: #eeeeee;
    color: var(--main-blue);
}
.body-banner-text {
    display: flex;
    width: 50%;
    text-align: left;
    margin-left: 15%;
    justify-content: center;
    align-items:flex-start;
}
.body-banner img {
    height: 300px;
    width: 300px;
}

.body-banner .body-banner-text {
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #c72b29;
}

.body-banner-img {
    width: 50%;
    display: flex;
    justify-content: center;
}
.body-banner-button{
    margin: 20px 5px 5px;
    transition: all .5s ease;
    color: var(--main-blue);
    border:1px solid var(--main-blue);
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 4px;
    outline: none;
    border-radius: 15px;
}
.body-banner-button p {
    padding:0;
    margin:0;
}
.body-banner-button:hover {
    color: #f9fbfb;
    background-color: var(--main-blue);
}
.body-banner-button a:visited{
color: var(--main-blue);
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  25% { border-color: #063f67 ; }
}


p {
    margin: 12px;
}

/* Footer Styles */


.footer {
    display: flex;
    justify-content: center;
    background: var(--main-blue);
    background: linear-gradient(270deg, var(--main-blue) 0%, var(--dark-blue) 100%);
    color: #f9fbfb;
    margin-top: 200px;
    height: 100px;
    width: 100%;
}

.footer a {
    color: #f9fbfb;
}

.footer a:visited {
    color: #f9fbfb;
}
#footer-content img {
    width: 30px;
}
#footer-content {
    padding-top: 10px;
}

#team{
    display: flex;
}

#entire-team{
    display: flex;
    align-items: center;
    gap: 40px;
}

#footer-title {
    margin: 0 20px;
}

.footer{
    display: flex;
    align-items: center;
}
.footer-title h3 {
    border-right: 2px solid rgb(233, 233, 233);
}

#name {
    margin-bottom: 20px;
}
#links {
    display: flex;
    justify-content: center;
}