.edit-review-form-btn {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 50px;
  margin: 10px;
}

#edit-review-form-input {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
}
