/* .edit-review-form-btn {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 30px;
  margin: 10px;
} */

#edit-review-form-input {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
}

.review-form {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.review-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review-form-btn {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  border: #14f217 1px solid;
  font-family: 'Roboto', sans-serif;
  width: 100px;
  height: 30px;
  margin: 10px;
  margin-top: 20px;
}
