.rating-text {
  background-color: #1c381b;
  color: #14f217;
}

#handle-delete-review {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  margin: 5px;
}

#edit-review-button button {
  background-color: #1c381b;
  color: #14f217;
  border-radius: 15px;
  margin: 5px;
}

.view-task {
  color: var(--dark-blue);
  text-decoration: none;
}

.view-task:hover {
  text-decoration: underline;
}
